@model MealMasterAPI.Models.Dtos.ResetPassDTO

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <h2>Reset Your Password</h2>
    <form id="resetPasswordForm">
        <input type="hidden" name="token" value="@Model.token" />
        <input type="hidden" name="email" value="@Model.email" />
        <div>
            <label for="newpassword">New Password:</label>
            <input type="password" id="newpassword" name="newpassword" required />
        </div>
        <div>
            <label for="confirmpassword">Confirm Password:</label>
            <input type="password" id="confirmpassword" name="confirmpassword" required />
        </div>
        <button type="submit">Reset Password</button>
    </form>

    <div id="message" style="margin-top: 20px;"></div>

    <script>
        document.getElementById('resetPasswordForm').addEventListener('submit', function (event) {
            event.preventDefault(); 

            var formData = {
                token: document.querySelector('input[name="token"]').value,
                email: document.querySelector('input[name="email"]').value,
                password: document.getElementById('newpassword').value,
                confirmpassword: document.getElementById('confirmpassword').value
            };

            fetch('/api/auth/ResetPassword', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            })
                .then(response => response.json())
                .then(data => {
                    var messageDiv = document.getElementById('message');
                    if (data.response) {
                        messageDiv.textContent = data.response; 
                        messageDiv.style.color = "green"; 
                    } else {
                        messageDiv.textContent = 'Error: ' + data.mensaje; 
                        messageDiv.style.color = "red"; 
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    var messageDiv = document.getElementById('message');
                    messageDiv.textContent = 'Hubo un error en la solicitud.'; 
                    messageDiv.style.color = "red"; 
                });
        });
    </script>
</body>
</html>

